/* o root ele serve para definir propriedades que podem ser utilizadas a qualquer momento, apenas chamado o nome que foi atribuido a ele, para utiliza essa propriedade, você precisa 
utiliza a variavel var() e dentro dos parenteses colocar o nome da propriedade*/
:root{
    --branco-principal: #ffffffff;
    --cinza-secundario: #c0c0c0;    
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: "Inter";
}


/* foi criada uma classe principal body que vai ser aplicado para todo o body do html*/
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;

}

/*quando é criado uma classe com o * ele aplica a regra que foi definida para todos os elementos da pagina*/
*{
    margin: 0;
    padding: 0;
}



/*classe do cloco inicial*/
.principal{
    background-image: url(img/Background.png); /*imagem de fundo da pagina inicial*/
    background-repeat: no-repeat; /*comando para não aplica a imagem em toda a pagina somente dentro do bloco*/
    background-size: contain;
    align-items: center; /*alinha o item dentro do bloco*/
    text-align: center; /*alinha o texto dentro do bloco*/
}

/*formatação da pagina e separada por colunas */
.container{ /*seleciona o elemento que possui a classe container no HTML*/
    height: 100vh; /*define a altura do container como 100% da pagina inicial*/
    display: grid; 
    grid-template-columns: 50% 50%;/*define a coluna do container*/
}

.container__botao {
    background-color: var(--botao-azul);/*esta definindo a cor de fundo do botão, mas sem colocar uma fixa e sim utilizando o metodo de variavel var*/
    border-radius: 5px;/*define o arredondamento da borda do bloco */
    padding: 1em; /*define as margens/espaço do bloco*/
    color: var(--branco-principal); /*cor da letra, utilizando a var para trazer a propriedade de cor definido no root*/
    display: block; /*define que o elemento é um bloco*/ 
    text-decoration: none; /*retira o sublinhado do texto do bloco*/
    margin-bottom: 1em; /*define o espaço entre os botoes*/
}

.botao__secundario {
    background-color: transparent; /*deixa o botão com fundo transparente*/
    border: 2px solid var(--branco-principal); /*coloca uma borda branca no bloco*/
}

.container__aviso {
    font-size: 12px; /*define o tamanho da fonte*/
    color: var(--cinza-secundario)/*define a cor do texto utilizando o metodo de var*/
}

.container__titulo {
    font-size: 28px;/*define o tamanho da fonte*/
    font-weight: 700;/*define a espessura da fonte*/
}

.container__imagem {
    margin: 1em 0 2em 0; /*define a posição da imagem na pagina*/
}

.container__caixa{
    margin: 0 6em; /*define a margem do bloco, o zero define que vai possuir espaço acima ou abaixo do elemento o 6 define margem esquerda e direita com 6*/
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 6em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;    
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.rodape__logo{
    margin:  0 50em 0 50em;
}

.radape__lista{
    display: flex;
    padding: 1em 15em 1em 15em;
    margin: auto;
    list-style-type: none; 
}

.lista__link{
    display: inline;
    margin-right: 20px;
    color: var(--branco-principal);
    display: inline-block
}


.rodape__texto{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 14px;
    margin-inline: 10em ;
    margin-top: 1em;
    margin: 2em;
   
}

.lista__link a {
    color: var(--cinza-secundario);
}