body {
  background-image: url('img/Design\ sem\ nome.jpg');
  background-size: cover; /* Faz a imagem cobrir todo o fundo */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center; /* Centraliza a imagem */
  background-attachment: fixed; /* Fixa a imagem na janela de visualização */
}




.container__cabeçario{
position:fixed;
top: 0;
left: 0;
width: 100%;
background-color: #ffffff;
color: rgb(0, 0, 0);
padding: 70px;
text-align: center;
z-index: 1000;
}

.sombra{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #51ff00;
  padding: 72px;
  z-index: 1000;
}

.logo{
  top: 15px;
  right: 50%;
  left: 50%;
  height: 80px;
  position: fixed;
}


.TITULO{
  top: 0%;
  right: 76%;
  left: 14%;
  height: 10px;
  position: fixed;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style:oblique;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font:bold;
  
}

.pag1{
  padding: 7%;
  color: #ffffff;

}


.pag1__titulo{
  font-family:cursive
}